<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>
            decorArqui | Deletar Projeto
        </title>
    </head>
    <body>
        <input type="text" id="idprojetofordelete" placeholder="Digite o ID do projeto para DELETAR">
        <br><br/>
        <a>Tem certeza que deseja deletar o projeto?</a>
        <br><br/>
        <button id="simdeletar">SIM</button>
        <button id="naodeletar">NÃO</button>
    </body>
</html>