@page
@{
    Layout = null;
}
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="~/css/styleEditproject.css" >
    <title>
        decorArqui | Editar Projeto
    </title>
</head>
<div class="container">
    <div class="cardEdit">
        <div class="logoproject">
            <img class="logodecorArqui" src="~/img/Logo_decorArqui_modelo2.png" width="150px" height="90px">
        </div>
        <body>
            <input id="idprojetoforedit" placeholder="Coloque o ID do projeto que deseja editar">
            <br>
            <br />
            <input type="text" id="nomeeditar" placeholder="Nome">
            <br>
            <br />
            <input type="email" id="emaileditar" placeholder="Email">
            <br>
            <br />
            <input type="text" id="enderecoeditar" placeholder="Endereco">
            <br>
            <br />
            <input type="text" id="descricaoeditar" placeholder="Descricao">
            <br>
            <br />
            <input type="text" id="precoeditar" placeholder="Preco">
            <br>
            <br />
            <button id="salvarprojetoeditado">Salvar Alterações</button>
            <a asp-controller="Home" asp-action="Projetos" id="voltarparatelainicial"><button>Cancelar</button></a>
        </body>
    </div>
</div>
</html>
<script>

    document.addEventListener('DOMContentLoaded', function () {
        const params = new URLSearchParams(window.location.search);

        // Recupere os valores dos parâmetros da URL
        const idProjeto = params.get('Id');
        const nomeProjeto = params.get('Nome');
        const emailProjeto = params.get('Email');
        const enderecoProjeto = params.get('Endereco');
        const descricaoProjeto = params.get('Eescricao');
        const precoProjeto = params.get('Preco');
        console.log('idProjeto:', idProjeto);
        console.log('nomeProjeto:', nomeProjeto);
        console.log('emailProjeto:', emailProjeto);
        console.log('enderecoProjeto:', enderecoProjeto);
        console.log('descricaoProjeto:', descricaoProjeto);
        console.log('precoProjeto:', precoProjeto);
        // Preencha os campos da página de edição com os valores dos parâmetros
        document.getElementById('idprojetoforedit').value = idProjeto;
        document.getElementById('nomeeditar').value = nomeProjeto;
        document.getElementById('emaileditar').value = emailProjeto;
        document.getElementById('enderecoeditar').value = enderecoProjeto;
        document.getElementById('descricaoeditar').value = descricaoProjeto;
        document.getElementById('precoeditar').value = precoProjeto;
    });

    document.getElementById('salvarprojetoeditado').addEventListener('click', function () {
        // Capture os novos valores dos campos de edição
        const idProjeto = document.getElementById('idprojetoforedit').value;
        const nomeProjeto = document.getElementById('nomeeditar').value;
        const emailProjeto = document.getElementById('emaileditar').value;
        const enderecoProjeto = document.getElementById('enderecoeditar').value;
        const descricaoProjeto = document.getElementById('descricaoeditar').value;
        const precoProjeto = document.getElementById('precoeditar').value;

        // Crie um objeto com os novos valores
        const projetoEditado = {
            _id: idProjeto,
            Nome: nomeProjeto,
            Email: emailProjeto,
            Endereco: enderecoProjeto,
            Descricao: descricaoProjeto,
            Preco: precoProjeto,
        };

        fetch('http://localhost:7216/api/projetos/' + idProjeto, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(projetoEditado),
        })
            .then(response => {
                if (response.ok) {
                    alert('Projeto atualizado com sucesso!');
                } else {
                    console.error('Falha ao atualizar o projeto:', response.status, response.statusText);
                }
            })
            .catch(error => console.error('Erro na solicitação AJAX:', error));


    });

</script>
