body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos CSS para os campos de perfil */
.reforma_sa {
    font-size: 36px;
    font-family: "Roboto";
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
    width: 312px;
    height: 41px;

.status:_co {
    font-size: 32px;
    font-family: "Roboto";
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    width: 287px;
    height: 41px;
.detalhes {
    font-size: 32px;
    font-family: "Roboto";
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    width: 127px;
    height: 41px;
