body {
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center; /* Alinha verticalmente ao centro */
    width: 100vw;
    height: 100vh;
    background-image: url('imgs/fundodetela.jpg');
    background-size: cover;
}

.cardPrincipal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1100px;
    height: 900px;
    border-radius: 15px;
    background-color: #7f7c6bcc;
    align-content: center;
    text-align: center;
}

.logodecorArqui {
    width: 200px;
    height: 100px;
    margin-top: 15px;
}

body {
    align-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-align: center;
}
button {
    cursor: pointer;
    background-color: #509403;
    color: white;
    width: 290px;
    height: 44px;
    font-size: 14px;
    border-radius: 10px;
    font-family: "Roboto-Bold", Helvetica;
    border: none;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button:hover {
        background-color: greenyellow;
        font-size: 16px;
        color: dimgray;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}