@{
    Layout = null;
}
<html>

<head>
    <link rel="stylesheet" href="~/css/Index.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

</head>

<body>
    <div class="tela-home-page">
        <div class="div">
            <div class="overlap-group">
                <div class="rectangle"></div>
                <div class="rectangle-2"></div>
                <img class="logo-decorarqui" src="~/img/Logo_decorArqui_modelo2-1.png" />
                <div class="background"></div>
                <div class="text-wrapper">MAS PORQUE O DECORARQUI?</div>
                <div class="text-wrapper-2">OTIMIZE O SEU ESPAÇO</div>
                <div class="text-wrapper-3">ECONOMIZE TEMPO E DINHEIRO</div>
                <p class="p">MELHORE O VALOR DO SEU BEM</p>
                <img class="vaadin-tools" src="~/icons/bootstrap-icons/icons/tools.svg" />
                <img class="vector" src="~/icons/bootstrap-icons/icons/tree.svg" />
                <img class="line" src="img/line-12.svg" />
                <img class="img" src="img/line-13.svg" />
                <div class="text-wrapper-4">MAS PORQUE O DECORARQUI?</div>
                <img class="line-2" src="img/line-14.svg" />
                <img class="line-3" src="img/line-15.svg" />
                <div class="TRABALHE-COM-QUEM">TRABALHE COM QUEM ESCOLHER</div>
                <div class="text-wrapper">MAS PORQUE O DECORARQUI?</div>
                <img class="line" src="img/line-16.svg" />
                <img class="img" src="img/line-17.svg" />
                <div class="text-wrapper-4">MAS PORQUE O DECORARQUI?</div>
                <img class="line-2" src="img/line-18.svg" />
                <img class="line-3" src="img/line-19.svg" />
                <img class="mdi-search" src="~/icons/bootstrap-icons/icons/search.svg" />
                <!-- Icone lista menu - função lista menu -->
                <img class="mingcute-menu-fill" src="~/icons/bootstrap-icons/icons/list.svg" />

                <p class="text-wrapper-5">
                    O decorArqui, é uma plataforma inovadora que visa revolucionar a maneira como as pessoas encontram e
                    contratam profissionais qualificados de decoração e design. Além disso, promove a criação de
                    projetos
                    sustentáveis e ecologicamente responsáveis, incentivando o uso de práticas e materiais mais
                    amigáveis ao
                    meio ambiente.
                </p>
                <div class="rectangle-3"></div>
                <div class="frame">
                    <div class="quero-reformar">QUERO REFORMAR</div>
                </div>
                <p class="text-wrapper-6">
                    Encontre com facilidade profissionais altamente qualificados em decoração e design, solicite
                    orçamentos e
                    consulte avaliações confiáveis.
                </p>
                <div class="rectangle-4"></div>
                <div class="sou-arquiteto-wrapper">
                    <div class="sou-arquiteto">SOU ARQUITETO/DESIGNER</div>
                </div>
                <p class="text-wrapper-7">
                    Amplie sua clientela, promova seus serviços, envie orçamentos e propostas de maneira eficaz e
                    conquiste
                    avaliações positivas.
                </p>
                <div class="rectangle-5"></div>
                <div class="sou-lojista-wrapper">
                    <div class="sou-lojista">SOU LOJISTA</div>
                </div>
                <p class="text-wrapper-8">
                    O decorArqui é uma vitrine online que oferece visibilidade para seus produtos e oportunidades de
                    marketing
                    para um público amplo.
                </p>
                <img class="line-4" src="img/line-20.svg" />
                <img class="line-5" src="img/line-21.svg" />
                <img class="line-6" src="img/line-22.svg" />
                <img class="line-7" src="img/line-23.svg" />
                <img class="line-4" src="img/line-24.svg" />
                <img class="line-5" src="img/line-25.svg" />
                <div class="text-wrapper-9">VENHA SER DECORARQUI</div>
                <img class="line-6" src="img/line-26.svg" />
                <img class="line-7" src="img/line-27.svg" />
                <div class="rectangle-6"></div>
                <div class="rectangle-7"></div>
                <img class="logo-decorarqui-2" src="~/img/Logo_decorArqui_modelo2-1.png" />
                <div class="text-wrapper-10">ENTRE EM CONTATO:</div>
                <div class="text-wrapper-11">MANDE UMA MENSAGEM:</div>
                <div class="frame-2">
                    <img class="uim-whatsapp" src="~/icons/bootstrap-icons/icons/whatsapp.svg" style="background-color: #AFBD77; background-size: 30px 30px;" />
                    <div class="text-wrapper-12">(31) 99999-9999</div>
                </div>
                <div class="frame-3">
                    <img class="group" src="img/group.png" />
                    <div class="text-wrapper-13">contato@decorarqui.com.br</div>
                </div>
                <img class="frame-4" src="~/icons/bootstrap-icons/icons/envelope.svg" />
                <div class="rectangle-8"></div>
                <div class="rectangle-9"></div>
                <div class="rectangle-10"></div>
                <div class="text-wrapper-14">Mensagem</div>
                <div class="text-wrapper-15">Email</div>
                <div class="text-wrapper-16">SEJA UM PATROCINADOR</div>
                <div class="rectangle-8"></div>
                <div class="rectangle-9"></div>
                <div class="rectangle-10"></div>
                <div class="text-wrapper-14">Mensagem:</div>
                <div class="text-wrapper-15">Email:</div>
                <div class="text-wrapper-17">Celular:</div>
                <img class="union" src="~/icons/bootstrap-icons/icons/clock.svg" />
                <img class="union-2" src="~/icons/bootstrap-icons/icons/house-door.svg" />

                <!-- Icone pessoa - redirecionar para o login -->
                <a asp-controller="Home" asp-action="Login"><img class="vector-2" src="~/icons/bootstrap-icons/icons/person.svg" /></a>

            </div>
            <div class="rectangle-11"></div>
        </div>
    </div>
</body>

</html>