@model Login
@{
    Layout = null;
}

<html>

<head>
    <link rel="stylesheet" href="~/css/login.css" />
</head>

<body>
    <div class="login-cliente">
        <div class="overlap-group-wrapper">
            <div class="overlap-group">
                <div class="rectangle"></div>
                <div class="frame">
                    <select class="custom-select" aria-label="Large select example" id="tipo">
                        <option selected>Selecione o tipo</option>
                        <option value="cliente">Cliente</option>
                        <option value="arquiteto">Arquiteto</option>
                        <option value="loja">Loja</option>
                    </select>
                </div>
                <div class="div-wrapper">
                    <input type="text" class="custom-input" placeholder="Email" id="email" autocomplete="off" />
                </div>
                <div class="frame-2">
                    <input type="password" class="custom-input" placeholder="Senha" id="senha" autocomplete="off" />
                </div>
                <div class="text-wrapper-4">Faça Login</div>
                <div class="text-wrapper-5">Seja bem-vindo ao</div>

                <a asp-controller="Home" asp-action="Index"><img class="logo-decorarqui" src="~/img/Logo_decorArqui_modelo2.png" /></a>
                <div class="frame-4">
                    <button type="submit" id="login-button" class="custom-button">Entrar</button>
                </div>
                <p class="text-wrapper-8">Não tem uma conta? <a asp-controller="Home" asp-action="Cadastro">Crie uma aqui</a></p>
                <img class="line" src="img/line-4.svg" />
                <img class="img" src="img/line-5.svg" />
            </div>
        </div>
    </div>
</body>

<script>
    document.getElementById("login-button").addEventListener("click", async (event) => {
        event.preventDefault();
        const email = document.getElementById("email").value;
        const senha = document.getElementById("senha").value;
        const tipo = document.getElementById("tipo").value;

        const userData = {
            email,
            senha,
            tipo
        };

        try {
            const response = await fetch("/api/usuario/Login", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(userData)
            });

            if (response.ok) {

                if (tipo == "cliente") {
                    window.location.href = '@Url.Action("Cliente", "Home")';
                    console.log("Deu bom!! C");
                }
                else if (tipo == "arquiteto") {
                    window.location.href = '@Url.Action("Arquiteto", "Home")';
                    console.log("Deu bom!! A");
                }

            } else {
                const errorData = await response.json();
                document.getElementById("error-message").innerText = errorData.mensagem;
                document.getElementById("error-message").style.display = "block"; // Mostrar a mensagem de erro
            }
        } catch (error) {
            console.error("Erro ao fazer login:", error);
        }
    });
</script>

</html>
