@page
@*@model decorArqui.Views.Home.AvaliacaoClienteModel*@
@{
    Layout = null;
}

@model Avaliacao

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/clienteArquiteto.css">
    <title>Clientes</title>
</head>
<body>
    <header>
        <h1>Clientes</h1>
    </header>

    <div class="container">
        <h1>Conheça nossos Clientes</h1>
        <div class="architects-container">
            <form asp-controller="Avaliacao" asp-action="Register" method="post">
                <div class="architect-card">
                    <h2>MM ARQUI</h2>
                    <p>Ramo: Industria</p>
                    <input type="hidden" id="nome" name="Nome" value="MM ARQUI">
                    <input type="hidden" id="nota" name="Nota" value="">
                    <input type="hidden" id="tipo" name="Tipo" value="cliente">
                    <h2>Avaliar Cliente</h2>
                    <div class="profile-info rating-container">
                        <div class="rating-stars">
                            <span style="cursor: pointer;" class="star" data-rating="1">&#9733;</span>
                            <span style="cursor: pointer;" class="star" data-rating="2">&#9733;</span>
                            <span style="cursor: pointer;" class="star" data-rating="3">&#9733;</span>
                            <span style="cursor: pointer;" class="star" data-rating="4">&#9733;</span>
                            <span style="cursor: pointer;" class="star" data-rating="5">&#9733;</span>
                        </div>
                    </div>
                    <button type="submit">Avaliar</button>
                </div>

                <div class="architect-card">
                    <h2>MVC AMB</h2>
                    <p>Ramo: Comercio</p>
                    <input type="hidden" id="nome" name="Nome" value="MVC AMB">
                    <input type="hidden" id="nota" name="Nota" value="">
                    <input type="hidden" id="tipo" name="Tipo" value="cliente">
                    <h2>Avaliar Cliente</h2>
                    <div class="profile-info rating-container">
                        <div class="rating-stars">
                            <span style="cursor: pointer;" class="star" data-rating="1">&#9733;</span>
                            <span style="cursor: pointer;" class="star" data-rating="2">&#9733;</span>
                            <span style="cursor: pointer;" class="star" data-rating="3">&#9733;</span>
                            <span style="cursor: pointer;" class="star" data-rating="4">&#9733;</span>
                            <span style="cursor: pointer;" class="star" data-rating="5">&#9733;</span>
                        </div>
                    </div>
                    <button type="submit">Avaliar</button>
                </div>

                <div class="architect-card">
                    <h2>ECO SIS</h2>
                    <p>Ramo: Ambiental</p>
                    <input type="hidden" id="nome" name="Nome" value="ECO SIS">
                    <input type="hidden" id="nota" name="Nota" value="">
                    <input type="hidden" id="tipo" name="Tipo" value="cliente">
                    <h2>Avaliar Cliente</h2>
                    <div class="profile-info rating-container">
                        <div class="rating-stars">
                            <span style="cursor: pointer;" class="star" data-rating="1">&#9733;</span>
                            <span style="cursor: pointer;" class="star" data-rating="2">&#9733;</span>
                            <span style="cursor: pointer;" class="star" data-rating="3">&#9733;</span>
                            <span style="cursor: pointer;" class="star" data-rating="4">&#9733;</span>
                            <span style="cursor: pointer;" class="star" data-rating="5">&#9733;</span>
                        </div>
                    </div>
                    <button type="submit">Avaliar</button>
                </div>

                <div class="architect-card">
                    <h2>EMM AMBIENTAL</h2>
                    <p>Ramo: Ambiental</p>
                    <input type="hidden" id="nome" name="Nome" value="EMM AMBIENTAL">
                    <input type="hidden" id="nota" name="Nota" value="">
                    <input type="hidden" id="tipo" name="Tipo" value="cliente">
                    <h2>Avaliar Cliente</h2>
                    <div class="profile-info rating-container">
                        <div class="rating-stars">
                            <span style="cursor: pointer;" class="star" data-rating="1">&#9733;</span>
                            <span style="cursor: pointer;" class="star" data-rating="2">&#9733;</span>
                            <span style="cursor: pointer;" class="star" data-rating="3">&#9733;</span>
                            <span style="cursor: pointer;" class="star" data-rating="4">&#9733;</span>
                            <span style="cursor: pointer;" class="star" data-rating="5">&#9733;</span>
                        </div>
                    </div>
                    <button type="submit">Avaliar</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>

<script>
    const stars = document.querySelectorAll('.star');
    const ratingInput = document.getElementById('nota');

    stars.forEach(star => {
        star.addEventListener('click', () => {
            const rating = star.getAttribute('data-rating');

            // Atualize o valor do input com a classificação (rating) clicada
            ratingInput.value = rating;

            // Você também pode exibir a classificação selecionada, se desejar
            console.log('Classificação selecionada: ' + rating);

            // Execute qualquer outra lógica que você queira aqui

            // Por exemplo, você pode enviar o valor do input para o servidor via AJAX
            // ou realizar qualquer outra ação que seja necessária com a classificação selecionada
        });
    });
</script>