@page
@*@model WebApiMongoDB.Views.Home.CadastroModel*@
@{
    Layout = null;
}

@model Register

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Link CSS-->
    <link rel="stylesheet" href="~/css/cadastro.css">

    <title>Página de Cadastro</title>
</head>
<body>
    <form asp-controller="Conta" asp-action="Register" method="post">
        <div class="signup-box">
            <h2>Cadastre-se</h2>
            <div class="form-group">
                <label for="username">Usuário:</label>
                <input type="text" id="username" name="Nome" placeholder="Escolha um nome de usuário" autocomplete="off" required>
            </div>
            <div class="form-group">
            <label for="email">Email:</label>
                <input type="email" id="email" name="Email" placeholder="Seu endereço de email" required>
            </div>
            <div class="form-group">
                <label for="password">Senha:</label>
                <input type="password" id="password" name="Senha" placeholder="Escolha uma senha" required>
            </div>
            <div class="form-group">
            <label for="tipo">Tipo</label>
            <select name="Tipo" id="tipo">
            <option value="cliente">Cliente</option>
            <option value="arquiteto">Arquiteto</option>
            </select>
            </div>
            <button type="submit">Cadastrar</button>
            <p>Já tem uma conta? <a asp-controller="Home" asp-action="Login">Faça Login</a></p>
        </div>
    </form>
</body>
</html>

