@page
@*@model WebApiMongoDB.Views.Home.CadastroModel*@
@{
    Layout = null;
}

@model Usuario

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Link CSS-->
    <link rel="stylesheet" href="~/css/cadastro.css">

    <title>Página de Cadastro</title>
</head>
<body>
    <form asp-controller="Conta" asp-action="Register" method="post">
        <div class="signup-box">
            <h2>Cadastre-se</h2>
            <div class="form-group">
                <label for="username">Usuário:</label>
                <input type="text" id="username" name="Nome" placeholder="Escolha um nome de usuário" autocomplete="off" required>
            </div>
            <div class="form-group">
            <label for="email">Email:</label>
                <input type="email" id="email" name="Email" placeholder="Seu endereço de email" required>
            </div>
            <div class="form-group">
                <label for="password">Senha:</label>
                <input type="password" id="password" name="Senha" placeholder="Escolha uma senha" required>
            </div>
            <div class="form-group">
            <label for="tipo">Tipo</label>
            <select name="Tipo" id="tipo">
            <option value="cliente">Cliente</option>
            <option value="arquiteto">Arquiteto</option>
            <option value="loja">Loja</option>
            </select>
            </div>
            <button type="submit" id="btnRegistrar">Cadastrar</button>
            <p>Já tem uma conta? <a asp-controller="Home" asp-action="Login">Faça Login</a></p>
        </div>
    </form>
</body>

@*<script>
    document.getElementById("btnRegistrar").addEventListener("click", function () {
        // Obtém o valor do tipo de usuário selecionado
        var tipoUsuario = document.querySelector('input[name="Tipo"]:checked');

        if (tipoUsuario) {
            // Redireciona o usuário com base no tipo de usuário selecionado
            if (tipoUsuario.value === "cliente") {
                window.location.href = "/Conta/Register?tipo=cliente";
            } else if (tipoUsuario.value === "arquiteto") {
                window.location.href = "/Conta/Register?tipo=arquiteto";
            }
        } else {
            alert("Selecione o tipo de usuário antes de registrar.");
        }
    });
</script>*@

</html>

