@page
@*@model decorArqui.Views.Home.ClienteArquitetoModel*@
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/clienteArquiteto.css">
    <title>Arquitetos</title>
</head>
<body>
    <header>
        <h1>Arquitetos</h1>
    </header>

    <div class="container">
        <h1>Conheça nossos arquitetos</h1>
        <div class="architects-container">
            <!-- Exemplo de card de arquiteto -->
            <div class="architect-card">

                <h2>Arquiteto 1</h2>
                <p>Formação: Formação do arquiteto</p>
                <p>Especialização: Especialização do arquiteto</p>
                <a href="#" class="btn-edit">Editar</a>
            </div>

            <div class="architect-card">

                <h2>Arquiteto 1</h2>
                <p>Formação: Formação do arquiteto</p>
                <p>Especialização: Especialização do arquiteto</p>
                <a href="#" class="btn-edit">Editar</a>
            </div>

            <div class="architect-card">

                <h2>Arquiteto 2</h2>
                <p>Formação: Formação do arquiteto</p>
                <p>Especialização: Especialização do arquiteto</p>
                <a href="#" class="btn-edit">Editar</a>
            </div>
            <div class="architect-card">

                <h2>Arquiteto 3</h2>
                <p>Formação: Formação do arquiteto</p>
                <p>Especialização: Especialização do arquiteto</p>
                <a href="#" class="btn-edit">Editar</a>
            </div>

            <!-- ... -->
        </div>
    </div>
</body>
</html>