@model Usuario
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arquitetos</title>
    <link rel="stylesheet" href="~/css/ArquitetoEditar.css">
</head>
<body>
    <header>
        <h1>Formulário de Arquitetos</h1>
    </header>
    <form asp-controller="Conta" asp-action="Update" method="post">
    <div class="container">

        <h2>Histórico Acadêmico</h2>
        <div class="academic-history">
            <div class="form-group">
                <label for="instituicao">Instituição:</label>
                <input type="text" id="instituicao" name="instituicao" placeholder="Nome da instituição" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="curso">Curso:</label>
                <input type="text" id="curso" name="curso" placeholder="Nome do curso" autocomplete="off">
            </div>
        </div>

        <h2>Portfólio de Projetos</h2>
        <div class="portfolio">
            <div class="form-group">
                <label for="projeto1">Projeto 1:</label>
                <input type="text" id="projeto1" name="projeto1" placeholder="URL do projeto" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="projeto2">Projeto 2:</label>
                <input type="text" id="projeto2" name="projeto2" placeholder="URL do projeto" autocomplete="off">
            </div>           
        </div>

        <h2>Informações Profissionais</h2>
        <div class="infoProfissional">
            <div class="form-group">
                <input type="text" id="inputInfo" name="projeto2" autocomplete="off" style="height: 100px; vertical-align: top;">
            </div>
        </div>

        <button type="submit" id="enviar">Salvar</button>

        <input type="hidden" asp-for="@Model.Id"/>

    </div>
    </form>
</body>
</html>

